<nav class="navbar navbar-expand-lg shadow-lg py-3" style="background-color: #2F0909;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">Search For a Drink</a>
        <ul class="navbar-nav me-auto" id="navbar-list">
    </div>
  </nav>