<nav class="navbar navbar-expand-lg shadow-lg py-3" style="background-color: #5b72a5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">Compare Prices!</a>
        <ul class="navbar-nav me-auto" id="navbar-list">
    </div>
  </nav>