<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

    <div class="container justify-content-center" style="padding-top: 3%; text-align: center;">
        <h1>Hi, My name is Vincent!</h1>
        <h4>I am a computer science student at the University of Colorado Boulder and an aspiring Software Developer. This website is my individual final project for CSCI 3308: Software Development Methods and Tools.</h4>
    </div>

<%- include ('../partials/footer') %>